<div class="bg-image"></div>

<div class="bg-text">
  <p>You need a premium account to use features from spotify</p>
  <a href="/spotify/login" style="font-size:30px">Log in with spotify</a>
</div>

</body>

</html>