<div>
    <div>
        <form method="post" action="/spotify/search">
            <input type="text" id="searchBar" name="searchBar" placeholder="Enter song here" />
            <button id="Spotify" name="Spotify">Spotify</button>
            <button type="submit" id="YouTube" name="YouTube">YouTube</button>
        </form>
    </div>


    <script>
        $(document).ready(function () {
            var spotifySearch = $("#Spotify");
            var searchBar = $_POST['searchBar']

            $(spotifySearch).click(function () {

                $.ajax({
                    method: 'post',
                    data: JSON.stringify({ "searchBar": searchBar }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (obj) {
                        console.log(obj);
                    },
                    error: function (message) {
                        alert("error");
                    }
                })
            })
        })
    </script>


    <div>
        {{#if hassongs}}
        <ul class="song-list">
            {{#each songs}}
            <li>
                {{this}}
            </li>
            <button type="button" id="add" name="add">Add</button>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <div>
        {{playlistname}}
        <ul class="added-songs">
            {{#each songs}}
            <li>
                {{this}}
            </li>
            <button type="button" id="add" name="add">Add</button>
            {{/each}}
        </ul>
    </div>
</div>