<div>
    <script>
        function Search(button) {
            var btn_id = button.id;
            var form = document.getElementById("myForm");
            if (btn_id == "Spotify") {
                form.setAttribute("action", "/spotify/search")
            }
            if (btn_id == "YouTube") {
                form.setAttribute("action", "/song/searchSong")
            }
        }
    </script>
    <div>
        <form id="myForm" method="post">
            <input type="text" id="searchBar" name="searchBar" />
            <button id="Spotify" name="Spotify" onclick="Search(this)">Spotify</button>
            <button type="submit" id="YouTube" name="YouTube" onclick="Search(this)">YouTube</button>
        </form>
    </div>



    {{!-- <script>

        $(document).ready(function () {
            var spotifySearch = $("#Spotify");
            var searchBar = $('searchBar')


            $(spotifySearch).click(function () {

                $.ajax({
                    method: 'post',
                    data: JSON.stringify({ "searchBar": searchBar }),
                    dataType: "json",
                    success: function (obj) {
                        var search_result = obj;
                        var hassongs = true;
                    },
                    error: function (message) {

                        var hassongs = false;
                    }
                })
            })
        })


    </script> --}}
    <script>
        function addSong(button) {
            btn_id = button.id;
            let songList = document.getElementsByClassName("song_button");
            for (let i = 0; i < songList.length; i++) {
                if (songList[i].id == btn_id) {


                    let songURI = document.getElementById(btn_id).value;


                    console.log(songURI);
                    //console.log(songList[i].name);




                    $(document).ready(function () {

                        $.ajax({
                            url: '/song/addSong',
                            method: 'post',
                            data: { "songURI": songURI, "songName": songList[i].name },
                            dataType: "json",
                            success: function (obj) {
                                alert("success")
                            },
                            statusCode: {
                                400: function () {
                                    alert('error');
                                }
                            }
                            //error: function (obj) {
                            //  alert("error")

                            //}
                        })

                    })
                }
            }
        }
    </script>

    <div>
        <ul class="song-list">

            {{#each songs}}
            <li>

                {{this.song}}

                <button type="button" class="song_button" name="{{this.song}}" value="{{this.uri}}">Add</button>

            </li>
            {{/each}}


            <script>
                let songList = document.getElementsByClassName("song_button");
                for (let i = 0; i < songList.length; i++) {
                    songList[i].setAttribute("id", i)
                    songList[i].setAttribute("onclick", "addSong(this)")
                }


            </script>
        </ul>


    </div>
</div>