{{!-- 
<main>    <button type="button" id="playButton">Play</button>
    <button type="button" id="pauseButton">Pause</button>

    <form action="/spotify/search" method = "POST">
        <label for="searchBar">Search:</label>
        <input type="text" name="searchbar" id="searchBar">
        <button type="submit" id="submitButton">submit</button>
        <a href="/spotify/play/spotify:track:6muOWhMh7Tf0UFUtMDBhUR">play song</a>
    </form>


</main>
     --}}