<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" id="login-form" action="/user/signin" method="post">
                <label class="login100-form-title p-b-17 p-t-17">
                    MixUp
                </label>

                <div class=" wrap-input100 rs1-wrap-input100 validate-input m-b-20">
                    <label for="email" class="login100-form-title p-t-17 p-b-17">Email</label>
                    <input type="email" class="input100 form-control" id="email" name="email" placeholder="Email" required="">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20">
                    <label for="password" class="login100-form-title p-b-17 p-t-17">Password</label>
                    <input type="password" class="input100 form-control" id="password" name="password" placeholder="Password" required="">
                    <span class="focus-input100"></span>
                </div>

                <span style="color:red; font-size:x-large;">{{error}}</span>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>
                <div class="w-full text-center p-t-27 p-b-239">
                    <a href="/user/signup" class="txt3">

                        Sign Up
                    </a>
                </div>

            </form>
            <div class="login100-more" style="background-image: url('/public/images/1510A1A4-C779-49D6-AD0D-830270001002_1_105_c.jpeg');"></div>
        </div>
    </div>
</div>