<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        // You can now initialize Spotify.Player and use the SDK
        {{#if accessToken}}
        var player = new Spotify.Player({
            name: 'MixUp Player',
            getOAuthToken: callback => {


                callback('{{accessToken}}');
            },
            volume: 0.5
        });

        player.connect().then(success => {
            if (success) {
                console.log('The Web Playback SDK successfully connected to Spotify!');
            }
        })

        player.addListener('ready', ({ device_id }) => {
            console.log('The Web Playback SDK is ready to play music!');
            console.log('Device ID', device_id);
        })

        {{/if}}

        };

</script>


<button id="ytPlayerbtn" onclick="playSong()">Play</button>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>

<script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '0',
                    width: '0',
                    videoId: 'qFkNATtc3mc',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                console.log("yt player ready");

                //event.target.playVideo();
            }

            function playSong() {
                player.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 60000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
</script>