<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="signup100-form validate-form" id="signup-form" method="POST" action="/user/signup">
                <span class="signup100-form-title p-b-34">
                    MixUp
                </span>
                <br>


                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20">
                    <label for="firstName" class="login100-form-title p-b-34">First Name</label>
                    <input type="text" class="input100 form-control" id="firstName" name="firstName"
                        placeholder="First Name" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20">
                    <label for="lastName" class="login100-form-title p-b-34">Last Name</label>
                    <input type="text" class="input100 form-control" id="lastName" name="lastName"
                        placeholder="Last Name" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs3-wrap-input100 validate-input m-b-20">
                    <label for="age" class="login100-form-title p-b-34">Age</label>
                    <input type="number" class="input100 form-control" id="age" name="age" placeholder="Age">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs4-wrap-input100 validate-input m-b-20">
                    <label for="email" class="login100-form-title p-b-34">Email</label>
                    <input type="email" class="input100 form-control" id="email" name="email" placeholder="Email"
                        required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 rs5-wrap-input100 validate-input m-b-20">
                    <label for="password" class="login100-form-title p-b-34">Password</label>
                    <input type="password" class="input100 form-control" id="password" name="password"
                        placeholder="Password" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs6-wrap-input100 validate-input m-b-20">
                    <label for="confirmPassword" class="login100-form-title p-b-34">Confirm Password</label>
                    <input type="password" class="input100 form-control" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirm Password" required>
                    <span class="focus-input100"></span>
                </div>
                <span style="color:red; font-size:x-large;">{{error}}</span>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Sign in
                    </button>
                    <script>
                        var password = document.getElementById("password")
                            , confirmPassword = document.getElementById("confirmPassword");

                        function validatePassword() {
                            if (password.value != confirmPassword.value) {
                                confirmPassword.setCustomValidity("Passwords Don't Match");
                            } else {
                                confirmPassword.setCustomValidity('');
                            }
                        }

                        password.onchange = validatePassword;
                        confirmPassword.onkeyup = validatePassword;
                    </script>
                </div>


            </form>
            <div class="login100-more" style="background-image: url('/public/images/bg-01.jpg');"></div>
        </div>
    </div>
</div>